extends layout

block content

  include nav

  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .home
          img.img-circle(src="#{user.avatarUrlMedium}")

          h1 Hello #{user.username}!
          p 
            |You authenticated using app 
            strong #{clientId}
            |, this is your token:
          p.mono #{token}
          p 
            |Search 
            a(href='https://developer.gitter.im/docs/welcome')
              |Developer documentation
            |. 

          h3 You're currently in the following rooms:
          - each room in rooms
            a.btn(href="https://gitter.im#{room.url}")
              span= room.name
